<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>Controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeItemToBillOfMaterialsServlet</servlet-name>
        <servlet-class>Controller.EncodeItemToBillOfMaterialsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSupplierServlet</servlet-name>
        <servlet-class>Controller.EncodeSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeDeliveryOrderServlet</servlet-name>
        <servlet-class>Controller.EncodeDeliveryOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeDeliveryReceiptServlet</servlet-name>
        <servlet-class>Controller.EncodeDeliveryReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeConsumptionReportServlet</servlet-name>
        <servlet-class>Controller.EncodeConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeCuttingReportServlet</servlet-name>
        <servlet-class>Controller.EncodeCuttingReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSupplierPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller.EncodeSupplierPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSupplierDeliveryReceiptServlet</servlet-name>
        <servlet-class>Controller.EncodeSupplierDeliveryReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeBillOfMaterialsServlet</servlet-name>
        <servlet-class>Controller.EncodeBillOfMaterialsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubcontractorAndServiceServlet</servlet-name>
        <servlet-class>Controller.ViewSubcontractorAndServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToSupplier</servlet-name>
        <servlet-class>Controller.AddItemToSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPickingFormForDeliveryOrderServlet</servlet-name>
        <servlet-class>Controller.GetPickingFormForDeliveryOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeInventoryReportServlet</servlet-name>
        <servlet-class>Controller.EncodeInventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInventoryReportServlet</servlet-name>
        <servlet-class>Controller.ViewInventoryReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeReplenishmentReportServlet</servlet-name>
        <servlet-class>Controller.EncodeReplenishmentReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReplenishmentRequestServlet</servlet-name>
        <servlet-class>Controller.ViewReplenishmentRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodePickingFormServlet</servlet-name>
        <servlet-class>Controller.EncodePickingFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPickingForm</servlet-name>
        <servlet-class>Controller.ViewPickingForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveryScheduleServlet</servlet-name>
        <servlet-class>Controller.ViewDeliveryScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveryOrderServlet</servlet-name>
        <servlet-class>Controller.ViewDeliveryOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCuttingReportServlet</servlet-name>
        <servlet-class>Controller.ViewCuttingReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <servlet-class>Controller.ViewConsumptionReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDeliveryReceiptServlet</servlet-name>
        <servlet-class>Controller.ViewDeliveryReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBoutiqueInventoryForInventoryReport</servlet-name>
        <servlet-class>Controller.GetBoutiqueInventoryForInventoryReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSuppliersAndItemServlet</servlet-name>
        <servlet-class>Controller.ViewSuppliersAndItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSubcontractorPurchaseOrderServlet</servlet-name>
        <servlet-class>Controller.EncodeSubcontractorPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeSubcontractorDeliveryReceiptServlet</servlet-name>
        <servlet-class>Controller.EncodeSubcontractorDeliveryReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncodeDelvieryScheduleServlet</servlet-name>
        <servlet-class>Controller.EncodeDelvieryScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSuppliersAndItemForSuppliersServlet</servlet-name>
        <servlet-class>Controller.GetSuppliersAndItemForSuppliersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubcontractorAndServiceForSubcontracorServlet</servlet-name>
        <servlet-class>Controller.GetSubcontractorAndServiceForSubcontracorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceivingServletGetSupplierAndSubcontractorPurchaseOrder</servlet-name>
        <servlet-class>Controller.ReceivingServletGetSupplierAndSubcontractorPurchaseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSupplierPurchaseOrder</servlet-name>
        <servlet-class>Controller.ViewSupplierPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>Controller.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccessoriesInventoryServlet</servlet-name>
        <servlet-class>Controller.GetAccessoriesInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductionInventoryServlet</servlet-name>
        <servlet-class>Controller.GetProductionInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWarehouseInventoryServlet</servlet-name>
        <servlet-class>Controller.GetWarehouseInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSupplierPurchaseOrderForReconcilingServlet</servlet-name>
        <servlet-class>Controller.GetSupplierPurchaseOrderForReconcilingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItem</servlet-name>
        <servlet-class>Controller.SearchItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setItemServlet</servlet-name>
        <servlet-class>Controller.setItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetBOMForCRServlet</servlet-name>
        <servlet-class>Controller.SetBOMForCRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBOFMFORSPO</servlet-name>
        <servlet-class>Controller.SearchBOFMFORSPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPRIDServlet</servlet-name>
        <servlet-class>Controller.GetPRIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewConsumptionServletJson</servlet-name>
        <servlet-class>Controller.ViewConsumptionServletJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controller.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeItemToBillOfMaterialsServlet</servlet-name>
        <url-pattern>/EncodeItemToBillOfMaterialsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSupplierServlet</servlet-name>
        <url-pattern>/EncodeSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeDeliveryOrderServlet</servlet-name>
        <url-pattern>/EncodeDeliveryOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeDeliveryReceiptServlet</servlet-name>
        <url-pattern>/EncodeDeliveryReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeConsumptionReportServlet</servlet-name>
        <url-pattern>/EncodeConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeCuttingReportServlet</servlet-name>
        <url-pattern>/EncodeCuttingReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSupplierPurchaseOrderServlet</servlet-name>
        <url-pattern>/EncodeSupplierPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSupplierDeliveryReceiptServlet</servlet-name>
        <url-pattern>/EncodeSupplierDeliveryReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeBillOfMaterialsServlet</servlet-name>
        <url-pattern>/EncodeBillOfMaterialsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubcontractorAndServiceServlet</servlet-name>
        <url-pattern>/ViewSubcontractorAndServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToSupplier</servlet-name>
        <url-pattern>/AddItemToSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPickingFormForDeliveryOrderServlet</servlet-name>
        <url-pattern>/GetPickingFormForDeliveryOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeInventoryReportServlet</servlet-name>
        <url-pattern>/EncodeInventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInventoryReportServlet</servlet-name>
        <url-pattern>/ViewInventoryReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeReplenishmentReportServlet</servlet-name>
        <url-pattern>/EncodeReplenishmentReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReplenishmentRequestServlet</servlet-name>
        <url-pattern>/ViewReplenishmentRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodePickingFormServlet</servlet-name>
        <url-pattern>/EncodePickingFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPickingForm</servlet-name>
        <url-pattern>/ViewPickingForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveryScheduleServlet</servlet-name>
        <url-pattern>/ViewDeliveryScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveryOrderServlet</servlet-name>
        <url-pattern>/ViewDeliveryOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCuttingReportServlet</servlet-name>
        <url-pattern>/ViewCuttingReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsumptionReportServlet</servlet-name>
        <url-pattern>/ViewConsumptionReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDeliveryReceiptServlet</servlet-name>
        <url-pattern>/ViewDeliveryReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBoutiqueInventoryForInventoryReport</servlet-name>
        <url-pattern>/GetBoutiqueInventoryForInventoryReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSuppliersAndItemServlet</servlet-name>
        <url-pattern>/ViewSuppliersAndItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSubcontractorPurchaseOrderServlet</servlet-name>
        <url-pattern>/EncodeSubcontractorPurchaseOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeSubcontractorDeliveryReceiptServlet</servlet-name>
        <url-pattern>/EncodeSubcontractorDeliveryReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncodeDelvieryScheduleServlet</servlet-name>
        <url-pattern>/EncodeDelvieryScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSuppliersAndItemForSuppliersServlet</servlet-name>
        <url-pattern>/GetSuppliersAndItemForSuppliersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubcontractorAndServiceForSubcontracorServlet</servlet-name>
        <url-pattern>/GetSubcontractorAndServiceForSubcontracorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceivingServletGetSupplierAndSubcontractorPurchaseOrder</servlet-name>
        <url-pattern>/ReceivingServletGetSupplierAndSubcontractorPurchaseOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSupplierPurchaseOrder</servlet-name>
        <url-pattern>/ViewSupplierPurchaseOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccessoriesInventoryServlet</servlet-name>
        <url-pattern>/GetAccessoriesInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductionInventoryServlet</servlet-name>
        <url-pattern>/GetProductionInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWarehouseInventoryServlet</servlet-name>
        <url-pattern>/GetWarehouseInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSupplierPurchaseOrderForReconcilingServlet</servlet-name>
        <url-pattern>/GetSupplierPurchaseOrderForReconcilingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItem</servlet-name>
        <url-pattern>/SearchItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setItemServlet</servlet-name>
        <url-pattern>/setItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetBOMForCRServlet</servlet-name>
        <url-pattern>/SetBOMForCRServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBOFMFORSPO</servlet-name>
        <url-pattern>/SearchBOFMFORSPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPRIDServlet</servlet-name>
        <url-pattern>/GetPRIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewConsumptionServletJson</servlet-name>
        <url-pattern>/ViewConsumptionServletJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
